{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block titulo %}Proveedores
<a data-toggle="modal" data-target="#registrarModal" href="/registrarProveedor/"><i class="fa fa-plus-square" style="color: #053357;"></i></a>
{% endblock %}
{% block scripts %}
    <script src="/static/js/busqueda.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
{% endblock scripts %}

{% block contenido %}
<div class="container">
    <div >
      <div class="card">
        <div class="card-body">
            <table id="datos" class="table table-striped">
                <thead>
                    <tr class="table100-head">
                        <th class="column3">Nombre</th>
                        <th class="column3">Acciones</th> 
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in info.proveedores %}
                    <tr> 
                        <td class="column2">{{ proveedor.nombre }}</td>
                        <td class="column3">
                            <div class="input-group-prepend">
                                <a href="/updateProveedor/{{ proveedor.id }}"><i class="fa fa-pencil" aria-hidden="true" style="color: black; margin-left: 0.5em;"></i></a>
                                <a data-toggle="modal" data-target="#eliminarDocumentoModal"><i class="fa fa-trash" aria-hidden="true" style="color: black; margin-left: 0.5em;"></i></a>
                            </div>

                        </td>

                    </tr>
                    <tr class="noSearch hide">
                        <td colspan="100"></td>
                    </tr>
                    <div class="modal fade" id="eliminarDocumentoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
                                  
{% endblock contenido %}