{% extends "base.html" %}

{% block titulo %}Lista de Asistencias

<a class="btn btn-info" href="/registrarAsistencias/" role="button">
    Nueva
</a>
{% endblock %}
{% block scripts %}
    <script src="/static/js/busqueda.js"></script>
{% endblock scripts %}

{% block contenido %}


{% if messages %}
  <div class="messages container-fluid">
    {% for message in messages %}
    <div class="success alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  </div>
{% endif %}


<div class="container-fluid">
        <table id="datos" class="table table-striped">
            <thead>
                <tr class="table100-head">
                    <th class="column1">Matrícula</th>  
                    <th class="column2">Nombre</th>  
                    <th class="column3">Plática</th>  
                    <th class="column3">Fecha</th> 
                    <th class="column3">Asistencia</th>  
                    <th class="column3">Acciones</th> 
                </tr>
            </thead>
            <tbody>
                {% for asistencia in info.asistencias %}
                    {% for asistente in asistencia.idEstudiante.all %}
                    <tr>
                        <td class="column1">{{ asistente.matricula}}</td>  
                        <td class="column2">{{ asistente.nombre }} {{ asistente.apellido_paterno }} {{ asistente.apellido_materno }}</td>  
                        <td class="column3">{{ asistencia.idPlatica.nombre }}</td>  
                        <td class="column3">{{ asistencia.idPlatica.fecha }}</td> 
                        {% if asistencia.asistencia %}
                            <td class="column3">Sí</td>
                        {% else %}
                            <td class="column3">No</td>
                        {% endif %}
                        <td><button class="btn btn-link"><a href="/updateAsistencias/{{ asistencia.id }}"><i class="fa fa-pencil"></i></a></button></td>
                    </tr>
                    <tr class="noSearch hide">
                        <td colspan="100"></td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock contenido %}